<div class="checkout-summary-detail-section" ng-switch="displayMode" ui-size="setDim($width, $height, $viewportWidth, $viewportHeight)"
  ng-class="displayMode" ng-style="{'height':(displayMode === 'reviewChanges') ? 'auto' : (dimensions.$viewportHeight - 245)}"
  style="height: 693px;">
  <div *ngFor="let pax of vm.pax" ng-repeat="travellerSummary in tripSummary.summaryobjects | filter : doesUserHaveCard  | orderBy : orderTravellers">
    <div class="checkout-summary-traveller-header">
      <span class="checkout-summary-traveller-header-text">{{ pax.paxName }} ({{ pax.paxSeniority }})</span>
    </div>
    <div *ngFor="let item of pax.items" class="checkout-summary-item outgoing-flight" ng-repeat="itemSummary in travellerSummary.summaryobjects | hasProperty : 'card'"
      ng-class="{'linked-item':itemSummary.linkedItemID,
  'outgoing-flight': itemSummary.$detail.type === 'flight' &amp;&amp; !itemSummary.$detail.isReturnFlight,
  'return-flight': itemSummary.$detail.type === 'flight' &amp;&amp; itemSummary.$detail.isReturnFlight
  }">
      <div *ngIf="item.flight" class="row checkout-summary-item-row" ng-if="itemSummary.$detail.type === 'flight'"
        ng-repeat="leg in itemSummary.$detail.legs | filter : {'type':'leg'}">
        <!-- <itinerary-item-summary class="col-5 checkout-summary-column left ng-isolate-scope" type="'flight'" item="leg"> -->
        <div class="col-5">
          <div class="itinerary-item-summary" ng-class="{inactive:isInactive}" ng-switch="type">
            <div ng-switch-default="">
              <div class="itinerary-item-summary-header">American Airlines, Flight: <span class="itinerary-item-summary-flight">AA
                  2569</span></div>
              <div class="itinerary-item-summary-field">Toronto (YYZ) - Miami (MIA)</div>
              <div class="itinerary-item-summary-field">Economy Class</div>
              <div class="itinerary-item-summary-field">Departing: Nov 6 2018, 5:45PM</div>
              <div class="itinerary-item-summary-field">Arriving: Nov 6 2018, 9:11PM</div>
            </div>
          </div>
        </div>
        <!-- </itinerary-item-summary> -->
        <div ng-if="$first &amp;&amp; !itemSummary.$detail.isReturnFlight" class="col-7 checkout-summary-item-pricing checkout-summary-column right">
          <!-- <traveller-summery-updated-pricing display-mode="summery" class="summery-pricing ng-isolate-scope"
              summary-item="itemSummary" waiting-for-pricing="tripSummary.waitingForFlightUpdatePricing"> -->
          <div class="summary-item-price-and-more-x summery" ng-class="displayMode">
            <div class="summary-item-price-and-more-inner" ng-if="waitingForPricing || !summaryItem.directSell.isavailable">
              <div class="price-and-more-row unavailable" ng-class="{'unavailable': !waitingForPricing &amp;&amp; (summaryItem.directSell &amp;&amp; !summaryItem.directSell.isavailable)}">
                <div><span class="summary-item-tax-label">Base fare: </span><span class="summary-item-price "
                    ng-bind-html="summaryItem.price - summaryItem.tax | hgb_currency">$139.00 CAD</span></div>
                <div><span class="summary-item-tax-label">Taxes, fees and charges: </span><span class="summary-item-price "
                    ng-bind-html="summaryItem.tax | hgb_currency">$93.41 CAD</span></div>
                <div><span class="summary-item-tax-label">Total :</span> <span class="summary-item-price summary-item-total "
                    ng-bind-html="summaryItem.price | hgb_currency">$232.41 CAD</span></div>
              </div>
            </div>
          </div>
          <!-- </traveller-summery-updated-pricing> -->
          <div class="checkout-summary-card-details">
            <img class="checkout-summary-card-icon" src="/assets/images/creditcards/amex.png"> ending: 1000
          </div>
        </div>
      </div>
      <div *ngIf="item.hotel" class="row checkout-summary-item-row" ng-if="itemSummary.$detail.type === 'hotel'">
        <!-- <itinerary-item-summary class="checkout-summary-column left col-5 ng-isolate-scope" type="itemSummary.$detail.type" item="itemSummary.$detail"> -->
        <div class="col-5">
          <div class="itinerary-item-summary" ng-class="{inactive:isInactive}" ng-switch="type">
            <div ng-switch-when="hotel">
              <div ng-show="showHotelName" class="itinerary-item-summary-header">HOTEL</div>
              <div ng-show="showHotelName" class="itinerary-item-summary-field">{{ item.hotel.hotelName }}</div>
              <div class="itinerary-item-summary-header">ROOM</div>
              <div class="itinerary-item-summary-field">{{ item.hotel.roomType }}</div>
              <div class="itinerary-item-summary-header">CHECK IN DATE</div>
              <div class="itinerary-item-summary-field">{{ item.hotel.checkinDate | date:'mediumDate'}}</div>
              <div class="itinerary-item-summary-header">DURATION</div>
              <div class="itinerary-item-summary-field">{{ item.hotel.durationNights }} night stay</div>
            </div>
          </div>
        </div>
        <!-- </itinerary-item-summary> -->
        <div class="col-7 checkout-summary-item-pricing checkout-summary-column right">
          <!-- <traveller-summery-updated-pricing waiting-for-pricing="tripSummary.waitingForFlightUpdatePricing" class="summery-pricing ng-isolate-scope" display-mode="summery" summary-item="itemSummary"> -->
          <div class="summary-item-price-and-more-x summery" ng-class="displayMode">
            <div class="summary-item-price-and-more-inner" ng-if="!waitingForPricing &amp;&amp; summaryItem.directSell.isavailable">
              <div ng-if="summaryItem.type == 'hotel'">
                <div class="summary-item-more">
                  <span>1 Night:</span>
                  <span class="estimated-usd " ng-if="summaryItem.totalbeforetaxusd > 0">($179.00
                    USD)</span>
                  <span class="summary-item-price " ng-bind-html="summaryItem.totalbeforetax | hgb_currency">$233.65
                    CAD</span></div>
                <div class="summary-item-more-sub">(<span>Nightly :
                    <span class="estimated-usd " ng-if="summaryItem.$detail.getPrimaryRoom().averagerateusd > 0">($179.00
                      USD)</span>
                  </span><span ng-bind-html="summaryItem.$detail.getPrimaryRoom().averagerate | hgb_currency" class="">$233.65
                    CAD</span>)</div>
                <div><span class="checkout-summary-item-field-label">Taxes, Fees, Other Charges : </span><span ng-if="summaryItem.surchargetotal === 0">$0.00</span>
                </div>
              </div>
              <div class="total-con price-and-more-row">
                <div><span class="summary-item-price-label">Total :</span> <span class="summary-item-total " ng-class="{updated:summaryItem.isDirectSellDiff}"
                    ng-bind-html="summaryItem.price | hgb_currency">$233.65
                    CAD</span>
                </div>
              </div>
            </div>
          </div>
          <!-- </traveller-summery-updated-pricing> -->
          <div class="checkout-summary-card-details">
            <img class="checkout-summary-card-icon" src="/assets/images/creditcards/amex.png"> ending: 1000
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-summary-traveller-footer">
      <span>Total for {{ pax.paxName }}: </span>
      <span class="checkout-traveller-footer-user-amount "
        ng-bind-html="getUserTotal(travellerSummary.paxguid) | hgb_currency">{{ pax.total }}</span></div>
  </div>
</div>