<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Currently working on: </h2>
<ul>
  <li>
    <hgb-large-tooltip anchor="right">
      <div hgb-large-tooltip-parent>
        parent with long long long long long long long long long
      </div>
      <div hgb-large-tooltip-popup>
        <div style="border: 1px solid #ccc; padding: 10px;">
          <div *ngIf="true">popup!!!!!</div>
          <ul>
            <li>asdasd asdsad</li>
            <li>asdasd asdsad</li>
            <li>asdasd asdsad</li>
            <li>asdasd asdsad</li>
          </ul>
        </div>
      </div>
    </hgb-large-tooltip>
  </li>
  <li>
    <hgb-credit-card-select
      [creditCardList]="creditCardList"
    ></hgb-credit-card-select>
  </li>
  <li>
    <div class="container-tight">
      <hgb-checkout-summary-details></hgb-checkout-summary-details>
    </div>
  </li>
  <li>asdasd</li>
  <li>asdasd</li>
</ul>

